@use "../_utils/utils" as *;

/// -----------------------------------------------------------------------------
/// 🟢 Body
///
/// Give styles to the `Body` component.
///
/// @author Leighton Quito (iamleigh.com)
/// -----------------------------------------------------------------------------
@include block(body) {
	padding: 20px;
	text-align: center;

	@include bp(min-width, md) {
		padding-bottom: 100px;
	}

	@include element(inner) {
		max-width: 1200px;
		margin: 0 auto;
	}

	button {
		margin: 0 auto;
	}
}
