@use '../_utils/utils' as *;

/// -----------------------------------------------------------------------------
/// 🟢 Body
///
/// Give styles to the `Body` component.
///
/// @author Leighton Quito (iamleigh.com)
/// -----------------------------------------------------------------------------
@include block(body) {
	padding: 20px;
	text-align: center;

	button {
		margin: 0 auto;
	}
}
